NODE_ENV=
PORT=

JWT_SECRET=your_secret
GOOGLE_CLIENT_ID=716137498529-2gl4562c7gs9av8vrh34omm0tnqi9bk8.apps.googleusercontent.com

REDIS_HOST=
REDIS_PORT=

DATABASE_URL="postgresql://docker:docker@localhost:5432/snackjar?schema=public"
