NODE_ENV=dev
PORT=3001

JWT_SECRET=your_secret

# Google OAuth Client ID configured for this project
GOOGLE_CLIENT_ID=716137498529-2gl4562c7gs9av8vrh34omm0tnqi9bk8.apps.googleusercontent.com

REDIS_HOST=localhost
REDIS_PORT=6379

DATABASE_URL="postgresql://docker:docker@localhost:5432/snackjar?schema=public"
